{% extends 'base.html' %}

{% block title %}Textstash{% endblock %}

{% block content %}

<h1> Dots and Boxes </h1>
<div class="row justify-content-center">
<div id="dots-and-boxes-board" class="dots-and-boxes-container"></div>
<button class="centered-button" onclick="initBoard()">Reset!</button>
<div id="win-container"></div>
</div>

<style>
    .row-like {
        display: flex;
        flex-direction: row;
    }

    .dot {
        background-color: black;
        width: 5px;
        height: 5px;
    }

    .line-vert {
        width: 5px;
        height: 50px;
    }

    .line-horiz {
        width: 50px;
        height: 5px;
    }

    .box {
        width: 50px;
        height: 50px;
    }

    .white {
        background-color: white;
        opacity: 1;
    }

    .red {
        background-color: red;
    }

    .blue {
        background-color: blue;
    }

    .line-vert.white:hover {
        background-color: yellow;
    }

    .line-horiz.white:hover {
        background-color: yellow;
    }

</style>

<script>
    const NUM_ROWS = 4;
    const NUM_COLS = 6;

    var board;
    var turn = 0;

    class Dot{
        addToRow(item) {
            item.classList.add('dot', 'black')
        }
    };

    class LineVertical {
        constructor(filled, owner) {
            this.filled = filled;
            this.owner = owner;
        }
        addToRow(item) {
            item.classList.add('line-vert')
            !this.filled ? item.classList.add('white') : this.owner == 1 ? item.classList.add('red') : item.classList.add('blue');
        }
    }

    class LineHorizontal {
        constructor(filled, owner) {
            this.filled = filled;
            this.owner = owner;
        }
        addToRow(item) {
            item.classList.add('line-horiz')
            !this.filled ? item.classList.add('white') : this.owner == 1 ? item.classList.add('red') : item.classList.add('blue');
        }
    }

    class Box {
        constructor(filled, owner) {
            this.filled = filled;
            this.owner = owner;
        }
        addToRow(item) {
            item.classList.add('box')
            !this.filled ? item.classList.add('white') : this.owner == 1 ? item.classList.add('red') : item.classList.add('blue');
        }
    }


    function initBoard() {
        board = [];
        for (let i = 0; i < 2 * NUM_ROWS + 1; i++) {
            row = [];
            for (j = 0; j < 2 * NUM_COLS + 1; j++) {
                if (i % 2 == 1 && j % 2 == 1) {
                    row.push(new Box(false, null));
                } else if (i % 2 == 1) {
                    row.push(new LineVertical(false, null));
                } else if (j % 2 == 1) {
                    row.push(new LineHorizontal(false, null));
                } else {
                    row.push(new Dot());
                }
            }
            board.push(row);
        }
        renderBoard();
    }

    function renderBoard() {
        const container = document.getElementById("dots-and-boxes-board");
        container.innerHTML = "";

        for (let i = 0; i < 2 * NUM_ROWS + 1; i++) {
            const row = document.createElement('div');
            row.classList.add('row-like');
            for (j = 0; j < 2 * NUM_COLS + 1; j++) {
                const item = document.createElement('div');
                board[i][j].addToRow(item);
                item.dataset.row = i;
                item.dataset.column = j;
                item.addEventListener('click', function() {
                    playMove(this.dataset.row, this.dataset.column)
                })
                row.appendChild(item);
            }
            container.appendChild(row);
        }
    }

    function playMove(row, col) {
        row = parseInt(row);
        col = parseInt(col);

        if ((row % 2 == 0 && col % 2 == 0) || (row % 2 == 1 && col % 2 == 1)) return;

        if (board[row][col].filled) return;

        board[row][col].filled = true;
        board[row][col].owner = turn;

        if (row % 2 == 1) {
            sameTurn = checkBoxHasBeenFilled(row, col - 1) || checkBoxHasBeenFilled(row, col + 1);
        } else {
            sameTurn = checkBoxHasBeenFilled(row - 1, col) || checkBoxHasBeenFilled(row + 1, col);
        }

        if (!sameTurn) {
            turn = 1 - turn;
        }

        checkWin();
        renderBoard();
    }

    function checkBoxHasBeenFilled(row, col) {
        if (row < 0 || col < 0 || col >= board.length || row >= board[0].length) return false;
        if (board[row - 1][col].filled
        && board[row + 1][col].filled
        && board[row][col - 1].filled
        && board[row][col + 1].filled
        && !board[row][col].filled) {
            board[row][col].filled = true;
            board[row][col].owner = turn;
            return true;
        }
    }

    function checkWin() {
        var redCount = 0;
        var blueCount = 0;
        for (let i = 0; i < 2 * NUM_ROWS + 1; i++) {
            for (j = 0; j < 2 * NUM_COLS + 1; j++) {
                if (i % 2 == 1 && j % 2 == 1) {
                    if (!board[i][j].filled) return false;
                    board[i][j] == 1 ? blueCount++ : redCount++;
                }
            }
        }

        const container = document.getElementById("win-container");
        container.innerHTML = "";
        redCount > blueCount ? container.appendChild(document.createTextNode("Red wins!")) : redCount < blueCount ? container.appendChild(document.createTextNode("Blue wins!")) : container.appendChild(document.createTextNode("Tie!"))
    }

    initBoard();


</script>


{% endblock %}